1. https://www.reddit.com/r/webscraping/comments/s190f2/web_scraping_from_httpswebarchiveorg_wayback/
2. https://github.com/internetarchive/wayback/tree/master/wayback-cdx-server

https://web.archive.org/cdx/search/cdx?url=https://www.worldometers.info/coronavirus/&matchType=prefix&output=json&limit=1000&from=202003&to=202004

https://web.archive.org/web/20200303105820/https://www.worldometers.info/coronavirus/

pip install --upgrade beautifulsoup4

In [1]:
20200429, 20200602, 20200603, 20200604, 20200605, 20200216

(20200429, 20200602, 20200603, 20200604, 20200605)

In [1]:
import requests
from datetime import date, timedelta
import time
import os
import pandas as pd
from bs4 import BeautifulSoup
from random import randrange
import re

In [2]:
headers = {"User-Agent": "'User-agent': 'Mozilla/5.0'",}

def return_middle_timestamp(df):
    df = df.loc[(df['mimetype'] == "text/html")]
    # middle_index = len(df) // 2
    # middle_row = df.iloc[middle_index]
    # timestamp = middle_row['timestamp']

    random_index = randrange(len(df))
    random_row = df.iloc[random_index]
    timestamp = random_row['timestamp']
    return timestamp

In [5]:
start_date = date(2020, 2, 16)
date_str = start_date.strftime("%Y%m%d")
internet_archive_url = "https://web.archive.org/cdx/search/cdx?url=https://www.worldometers.info/coronavirus/&matchType=prefix&output=json&from=" + date_str + "&to=" + date_str
r = requests.get(internet_archive_url, headers=headers)
internet_archive_content = eval(r.content.decode("utf-8"))
internet_archive_df = pd.DataFrame(internet_archive_content[1:], columns=internet_archive_content[0])
timestamp = return_middle_timestamp(internet_archive_df)

https://web.archive.org/cdx/search/cdx?url=https://www.worldometers.info/coronavirus/&matchType=prefix&output=json&from=20200216&to=20200216
[]

IndexError: list index out of range

In [ ]:
# before
worldometers_url = "https://web.archive.org/web/"+ timestamp + "/https://www.worldometers.info/coronavirus/"
print(worldometers_url)
r = requests.get(worldometers_url, headers=headers)
soup = BeautifulSoup(r.content, 'lxml')
table = soup.find_all("table", id="main_table_countries_today")
print(len(table), type(table), worldometers_url)
worldometer_df = pd.read_html(str(table[0]), displayed_only=False)

# after
# timestamp = "20200216030215"
# worldometers_url = "https://web.archive.org/web/"+ timestamp + "/https://www.worldometers.info/coronavirus/"
# print(worldometers_url)
# r = requests.get(worldometers_url, headers=headers)
# soup = BeautifulSoup(r.content, 'lxml')
# table = soup.find_all("table", id="table3")
# print(len(table), type(table), worldometers_url)
# worldometer_df = pd.read_html(str(table[0]), displayed_only=False)

https://web.archive.org/web/20200216030215/https://www.worldometers.info/coronavirus/
1 <class 'bs4.element.ResultSet'> https://web.archive.org/web/20200216030215/https://www.worldometers.info/coronavirus/

In [8]:
str(table[0])

'<table cellspacing="0" class="table table-bordered table-hover" id="table3" text-align:left=""> <thead> <tr> <th width="70"><span class="style1">Country,<br/> Territory </span></th> <th width="20"><span class="style1"><br/> Total Cases</span></th> <th width="30"><span class="style1">New<br/> Cases</span> </th> <th width="30"><span class="style1"> Total<br/> Deaths</span></th> <th width="30"><span class="style1">New<br/>Deaths </span></th> <th width="30"><span class="style1">Total<br/> Recovered</span></th> <th width="30"><span class="style1">Serious, <br/> Critical </span></th> <th class="hidden" width="30"><span class="style1">Region</span></th> </tr> </thead> <tbody> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> China </td> <td style="font-weight: bold; text-align:right">68,501</td> <td style="font-weight: normal; text-align:right;background-color:#FFEEAA;"> +2,009 </td> <td style="font-weight: bold; text-align:right;"> 1,665 </td> <td style="font-weight: bold; text-align:right; background-color:red; color:white ">+142 </td> <td style="font-weight: bold; text-align:right">9,452 </td> <td style="font-weight: bold; text-align:right">11,272 </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Japan </td> <td style="font-weight: bold; text-align:right">408</td> <td style="font-weight: normal; text-align:right;background-color:#FFEEAA;"> +70 </td> <td style="font-weight: bold; text-align:right;"> 1 </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">12 </td> <td style="font-weight: bold; text-align:right">9 </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Singapore </td> <td style="font-weight: bold; text-align:right">72</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">18 </td> <td style="font-weight: bold; text-align:right">6 </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Hong Kong </td> <td style="font-weight: bold; text-align:right">56</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> 1 </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">1 </td> <td style="font-weight: bold; text-align:right">7 </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Thailand </td> <td style="font-weight: bold; text-align:right">34</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">14 </td> <td style="font-weight: bold; text-align:right">2 </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> S. Korea </td> <td style="font-weight: bold; text-align:right">29</td> <td style="font-weight: normal; text-align:right;background-color:#FFEEAA;"> +1 </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">9 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Malaysia </td> <td style="font-weight: bold; text-align:right">22</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">7 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Taiwan </td> <td style="font-weight: bold; text-align:right">18</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">2 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Vietnam </td> <td style="font-weight: bold; text-align:right">16</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">7 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Germany </td> <td style="font-weight: bold; text-align:right">16</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">3 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> USA </td> <td style="font-weight: bold; text-align:right">15</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">3 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> N.America </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Australia </td> <td style="font-weight: bold; text-align:right">15</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">10 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Oceania </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> France </td> <td style="font-weight: bold; text-align:right">12</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> 1 </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">4 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Macao </td> <td style="font-weight: bold; text-align:right">10</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">3 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> U.K. </td> <td style="font-weight: bold; text-align:right">9</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">8 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Canada </td> <td style="font-weight: bold; text-align:right">8</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">1 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> N.America </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> U.A.E. </td> <td style="font-weight: bold; text-align:right">8</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">3 </td> <td style="font-weight: bold; text-align:right">1 </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style=" background-color:#F0F0F0\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Philippines </td> <td style="font-weight: bold; text-align:right">3</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> 1 </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">2 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Italy </td> <td style="font-weight: bold; text-align:right">3</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right"> </td> <td style="font-weight: bold; text-align:right">2 </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style=" background-color:#EAF7D5\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> India </td> <td style="font-weight: bold; text-align:right">3</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">3 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style=" background-color:#EAF7D5\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Russia </td> <td style="font-weight: bold; text-align:right">2</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">2 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style=" background-color:#EAF7D5\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Spain </td> <td style="font-weight: bold; text-align:right">2</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">2 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style=" background-color:#EAF7D5\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Cambodia </td> <td style="font-weight: bold; text-align:right">1</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">1 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Sweden </td> <td style="font-weight: bold; text-align:right">1</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right"> </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style=" background-color:#EAF7D5\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Nepal </td> <td style="font-weight: bold; text-align:right">1</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">1 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style=" background-color:#EAF7D5\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Belgium </td> <td style="font-weight: bold; text-align:right">1</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">1 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style=" background-color:#EAF7D5\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Sri Lanka </td> <td style="font-weight: bold; text-align:right">1</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">1 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Asia </td> </tr> <tr style=" background-color:#EAF7D5\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Finland </td> <td style="font-weight: bold; text-align:right">1</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right">1 </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Europe </td> </tr> <tr style="\t"> <td style="font-weight: bold; font-size:15px; text-align:left; padding-left:3px;"> Egypt </td> <td style="font-weight: bold; text-align:right">1</td> <td style="font-weight: normal; text-align:right;"> </td> <td style="font-weight: bold; text-align:right;"> </td> <td style="font-weight: bold; text-align:right; "> </td> <td style="font-weight: bold; text-align:right"> </td> <td style="font-weight: bold; text-align:right"> </td> <td class="hidden" style="font-size:14px; color:#aaa; text-align:right"> Africa </td> </tr> </tbody> </table>'

In [9]:
worldometer_df[0]

,"Country, Territory",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,"Serious, Critical",Region
0,China,68501,2009.0,1665.0,142.0,9452.0,11272.0,Asia
1,Japan,408,70.0,1.0,NaN,12.0,9.0,Asia
2,Singapore,72,NaN,NaN,NaN,18.0,6.0,Asia
3,Hong Kong,56,NaN,1.0,NaN,1.0,7.0,Asia
4,Thailand,34,NaN,NaN,NaN,14.0,2.0,Asia
5,S. Korea,29,1.0,NaN,NaN,9.0,NaN,Asia
6,Malaysia,22,NaN,NaN,NaN,7.0,NaN,Asia
7,Taiwan,18,NaN,NaN,NaN,2.0,NaN,Asia
8,Vietnam,16,NaN,NaN,NaN,7.0,NaN,Asia
9,Germany,16,NaN,NaN,NaN,3.0,NaN,Europe
10,USA,15,NaN,NaN,NaN,3.0,NaN,N.America
11,Australia,15,NaN,NaN,NaN,10.0,NaN,Oceania
12,France,12,NaN,1.0,NaN,4.0,NaN,Europe
13,Macao,10,NaN,NaN,NaN,3.0,NaN,Asia
14,U.K.,9,NaN,NaN,NaN,8.0,NaN,Europe
15,Canada,8,NaN,NaN,NaN,1.0,NaN,N.America
16,U.A.E.,8,NaN,NaN,NaN,3.0,1.0,Asia
17,Philippines,3,NaN,1.0,NaN,2.0,NaN,Asia
18,Italy,3,NaN,NaN,NaN,NaN,2.0,Europe
19,India,3,NaN,NaN,NaN,3.0,NaN,Asia
20,Russia,2,NaN,NaN,NaN,2.0,NaN,Europe
21,Spain,2,NaN,NaN,NaN,2.0,NaN,Europe
22,Cambodia,1,NaN,NaN,NaN,1.0,NaN,Asia
23,Sweden,1,NaN,NaN,NaN,NaN,NaN,Europe
24,Nepal,1,NaN,NaN,NaN,1.0,NaN,Asia
25,Belgium,1,NaN,NaN,NaN,1.0,NaN,Europe
26,Sri Lanka,1,NaN,NaN,NaN,1.0,NaN,Asia
27,Finland,1,NaN,NaN,NaN,1.0,NaN,Europe
28,Egypt,1,NaN,NaN,NaN,NaN,NaN,Africa

In [10]:
path = os.path.join("..", "data_cache", "worldometer_2", date_str + ".csv")
worldometer_df[0].to_csv(path, index=False)
print("saving: ", path)

saving:  ../data_cache/worldometer_2/20200216.csv

In [11]:
df_loaded = pd.read_csv(path)
df_loaded

,"Country, Territory",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,"Serious, Critical",Region
0,China,68501,2009.0,1665.0,142.0,9452.0,11272.0,Asia
1,Japan,408,70.0,1.0,NaN,12.0,9.0,Asia
2,Singapore,72,NaN,NaN,NaN,18.0,6.0,Asia
3,Hong Kong,56,NaN,1.0,NaN,1.0,7.0,Asia
4,Thailand,34,NaN,NaN,NaN,14.0,2.0,Asia
5,S. Korea,29,1.0,NaN,NaN,9.0,NaN,Asia
6,Malaysia,22,NaN,NaN,NaN,7.0,NaN,Asia
7,Taiwan,18,NaN,NaN,NaN,2.0,NaN,Asia
8,Vietnam,16,NaN,NaN,NaN,7.0,NaN,Asia
9,Germany,16,NaN,NaN,NaN,3.0,NaN,Europe
10,USA,15,NaN,NaN,NaN,3.0,NaN,N.America
11,Australia,15,NaN,NaN,NaN,10.0,NaN,Oceania
12,France,12,NaN,1.0,NaN,4.0,NaN,Europe
13,Macao,10,NaN,NaN,NaN,3.0,NaN,Asia
14,U.K.,9,NaN,NaN,NaN,8.0,NaN,Europe
15,Canada,8,NaN,NaN,NaN,1.0,NaN,N.America
16,U.A.E.,8,NaN,NaN,NaN,3.0,1.0,Asia
17,Philippines,3,NaN,1.0,NaN,2.0,NaN,Asia
18,Italy,3,NaN,NaN,NaN,NaN,2.0,Europe
19,India,3,NaN,NaN,NaN,3.0,NaN,Asia
20,Russia,2,NaN,NaN,NaN,2.0,NaN,Europe
21,Spain,2,NaN,NaN,NaN,2.0,NaN,Europe
22,Cambodia,1,NaN,NaN,NaN,1.0,NaN,Asia
23,Sweden,1,NaN,NaN,NaN,NaN,NaN,Europe
24,Nepal,1,NaN,NaN,NaN,1.0,NaN,Asia
25,Belgium,1,NaN,NaN,NaN,1.0,NaN,Europe
26,Sri Lanka,1,NaN,NaN,NaN,1.0,NaN,Asia
27,Finland,1,NaN,NaN,NaN,1.0,NaN,Europe
28,Egypt,1,NaN,NaN,NaN,NaN,NaN,Africa

In [12]:
print(path)

../data_cache/worldometer_2/20200216.csv